<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Поиск противника
		include inc/head.jade
		include inc/css.jade
	body.main
		#app
			.game__cont(style="background-image: url('img/auth-register-bg.jpg')")
				.game
					.game__game
						.wrapper
							.game-interface
								.game-interface__top
									h1.game-title Название игры
									.game__links
										a.exit-link(href="#" title="Выход") Выход
								.game-interface__middle
							.game__wrapper
								.game-search
									.game-search__label Мы ищем Вам соперника...
									.game-search__player 
										.player
											figure.player__photo
												img(src="img/photos/player-photo.jpg")
											.player__name
												span Иван
												span Иванов
									.game-search__searching
										.loader.loading
									.game-search__opponent
										.player
											figure.player__photo
												img.no-photo(src="img/avatar-placeholder.png")
		include inc/scripts.jade